header
  section.hero.is-dark
    .hero-top
      nav.tabs
        .container
          ul
            if loggedIn
              li
                a Logged in as&nbsp;#[b= user.display_name]
              li(style={float: 'up'})
                a(href='/logout') Logout
            else
              li
                a(href='/login') Not Logged In
    .hero-body
      .container
        h1.title LATE
        h2.subtitle Lazy Automatic Time Evaluator


    .hero-foot
      nav.tabs
        .container
          ul
            li(class=(path=='/' ? 'is-active' : ''))
              a(href='/' ) Home
            li(class=(path=='/dashboard' ? 'is-active' : ''))
              a(href='/dashboard') Dashboard
            if loggedIn
              li(class=(path=='/setup/course_schedule' ? 'is-active' : ''))
                a(href='/setup/course_schedule') Courses
            li(class=(path=='/about' ? 'is-active' : ''))
              a(href='/about') About
            li
              a(href='/') Filler 1
            li
              a(href='/') Filler 2
   
script.
  $("a").click(function(){
    $("a").css("background-color","");
    $(this).css("background-color","white");
  });