header
  section.hero.is-dark
    .hero-body
      .container
        h1.title LATE
        h2.subtitle Lazy Automatic Time Evaluator
    .hero-foot
      nav.tabs
        .container
          ul
            li
              a(href='/' , style={background: 'grey'}) Home
            if loggedIn
              li
                a(href='/setup/course_schedule') Courses
              li
                a Logged in as&nbsp;#[b= user.display_name]
              li(style={float: 'up'})
                a(href='/logout') Logout
            else
              li
                a(href='/login') Not Logged In
script.
  $("a").click(function(){
    $("a").css("background-color","");
    $(this).css("background-color","white");
  });