header
  section.hero.is-dark
    .hero-top
      nav.tabs
        .container
          ul
            if loggedIn
              li
                a Logged in as&nbsp;#[b= username]
              li
                a(href='/logout') Logout
            else
              li
                a(href='/login') Not Logged In
    .hero-body
      .container
        h1.title LATE
        h2.subtitle Lazy Automatic Time Evaluator
  
    .hero-foot
        nav.tabs
          .container
            ul
              li.is-active
                a(href = "/") Home 
              li
                a(href = "/dashboard") Dashboard
              li
                a(href = "#") Edit Assignments
              li
                a(href = "#") Filler#1
              li
                a(href = "#") Filler#2
              li
                a(href = "/about") About Us
